<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DeCodeHive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/EcommerceWeb.styles.css" asp-append-version="true" />
    <!--For icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>

    <!--Toastr Notifications-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!--API For database filters-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="DeCodeHive" height="40" width="195">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav me-auto">
                        <!--asp-controller help u avoid href it redirects to any control with specified action in asp-action-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <!--This must only ne visible to Admin-->
                        @if(User.IsInRole(SD.Role_Admin))
                        {
                        <!--Drop Down Menu-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                CONTENT MANAGEMENT
                            </a>
                           <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                </li>
                                <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                           </ul>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">Cart
                                <i class="bi bi-cart"></i> &nbsp;
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!--Using partial view here partial name ="filename containing temp data"-->
            <partial name="_Notification"/>
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: black; color: white; margin-top: 10px; padding-left: 15px; padding-bottom: 20px;">
        <div class="container">
            <div class="row" style="margin-top: 35px;">
                <div class="col-md-6">
                    <div>
                        <!-- Image component should be replaced with the appropriate HTML structure -->
                        <img src="~/images/logo.png" alt="Logo" height="40" width="193" style="margin-top:20px">
                    </div>
                    <h6 class="mt-3 text-white">Contact us at</h6>
                    <p>BidIt@gmail.com</p>

                    <h6 class="mt-4 text-white">Join Us</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-3 text-white" style="margin-top: 20px">Links</h5>
                    <ul class="list-unstyled text-white">
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-body text-gray text-center mt-4">
            Owned by the visionary duo Imaan Saleem & Umair Javed where the world meets the art of innovation
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/defimm5dn88vh1cqp4qfw4cgozdbf8i83wxvm096mizp7uuq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
